In [1]:
import requests
import pandas as pd

### Using the code from the lesson as a guide, create a dataframe named items that has all of the data for items.

In [44]:
response = requests.get('https://python.zach.lol/api/v1/items')

data = response.json()

items = pd.DataFrame(data['payload']['items'])

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 3
next_page: /api/v1/items?page=2

In [45]:
base_url = 'https://python.zach.lol'

response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index()

items = items.drop(columns = 'index')

items.shape

max_page: 3
next_page: /api/v1/items?page=3

(40, 6)

In [46]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index()

items = items.drop(columns = 'index')

items.shape

max_page: 3
next_page: None

(50, 6)

In [47]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

### Do the same thing, but for stores.

In [48]:
response = requests.get('https://python.zach.lol/api/v1/stores')

data = response.json()

stores = pd.DataFrame(data['payload']['stores'])

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 1
next_page: None

In [49]:
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

### Extract the data for sales. There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [62]:
response = requests.get('https://python.zach.lol/api/v1/sales')

data = response.json()

sales = pd.DataFrame(data['payload']['sales'])

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 183
next_page: /api/v1/sales?page=2

In [57]:
for page in data['payload']:
    if data['payload']['page'] > 183:
        response = requests.get(base_url + data['payload']['next_page'])
        data = response.json()
        sales = pd.concat([sales, pd.DataFrame(data['payload']['sales'])]).reset_index()

In [58]:
sales.shape

(15000, 7)

### Save the data in your files to local csv files so that it will be faster to access in the future.

### Combine the data from your three separate dataframes into one large dataframe.

### Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

### Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.