In [7]:
from vega_datasets import data

In [8]:
data.sf_temps()

      temp                date
0     47.8 2010-01-01 00:00:00
1     47.4 2010-01-01 01:00:00
2     46.9 2010-01-01 02:00:00
3     46.5 2010-01-01 03:00:00
4     46.0 2010-01-01 04:00:00
...    ...                 ...
8754  50.4 2010-12-31 19:00:00
8755  49.9 2010-12-31 20:00:00
8756  49.4 2010-12-31 21:00:00
8757  48.8 2010-12-31 22:00:00
8758  48.3 2010-12-31 23:00:00

[8759 rows x 2 columns]